@use "functions" as *;
@use "breakpoints" as *;

// Colors
$dark-purple: #24053e;
$Eucaptyptus: #44ffa1;
$Davys_Grey: #584d62;
$Ghost-White: #fcf8ff;
$White: #ffffff;

// Fonts
$ff-fraunces: "Fraunces", serif;
$ff-manrope: "Manrope", sans-serif;

$flow-spacer: 1em;
